{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGE %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/footer.css' %}">
    <link rel="icon" type="image/png" href="{% static 'image/tun.png' %}" sizes="32x32">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>{{ page_title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-default p-3">
        <div class="container">
            <a class="navbar-brand img-left" href="{% url 'index' %}"><img src="{% static 'image/tun.png' %}" alt=""
                    width="80" height="52"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-font">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'service' %} active{% endif %}" aria-current="page" href="{% url 'service' %}">{% trans "Услуга" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if request.resolver_match.url_name == 'location' %} active{% endif %}" href="{% url 'location' %}">{% trans "Локации" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %} active{% endif %}" href="{% url 'about' %}">{% trans "О нас" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'career' %} active{% endif %}" href="{% url 'career' %}">{% trans "Портфолио" %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown" class="nav-link">
                            {% for l in LANGUAGE %}{% if l.0 == LANGUAGE_CODE %}{{ l.1 }}{% endif %}{% endfor %}
                        </a>
                        <div class="dropdown-menu">
                            {% for l in LANGUAGE %}
                                <a href="/{{ l.0 }}/" class="dropdown-item">{{ l.1 }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <form class="d-flex main-hide">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <a href="tel:+998330040770" class="nav-link"><i class="bi bi-telephone-outbound-fill"></i> (998) 330040770</a>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}

    <!-- footer start -->
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Company<span>logo</span></h3>

            <p class="footer-links">
                <a href="https://t.me/diyorbek_us" class="link-1">{% trans "Программист" %}</a>
                <a href="mailto: diyorbekdev@gmail.com">{% trans "Сообщить об ошибке" %}</a>
            </p>

            <p class="footer-company-name">Autocosmetolog &copy; {% now "Y" %}</p>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>{% trans "О компании" %}</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCPiZmernTnFZMbfY_93gpbg/featured"><i class="bi bi-youtube"></i></a>
                <a href="https://www.instagram.com/autocosmetolog.uz/"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    </div>
</body>

<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'css/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>